{
  cluster_name: "mycluster",
  local_node: "node1",

  data_dir: "/var/lib/tinycfs",

  algorithm: "raft",

  max_file_size_bytes: 8388608,
  max_fs_size_bytes: 1073741824,

  snapshot_every: 10000,
  persist_every: 1,

  heartbeat_interval_ms: 500,
  election_timeout_min_ms: 2500,
  election_timeout_max_ms: 5000,

  mountpoint: "/mnt/tinycfs",

  noexec: true,
  nosuid: true,
  nodev: true,

  nodes: [
    { name: "node1", ip: "192.168.1.10", port: 7788 },
    { name: "node2", ip: "192.168.1.11", port: 7788 },
    { name: "node3", ip: "192.168.1.12", port: 7788 },
  ],
}
